%h1 Интернет-магазин "Эдем"
%p
  В нашем интернет-магазине Вы можете приобрести рассаду однолетних цветов, многолетние травянистые растения и декоративные кустарники, комнатные растения, к 8 марта – свежесрезанные тюльпаны.
%p
  Рассада однолетних цветов, полученная из семенного материала исключительно лучших голландских сортов, имеет превосходные показатели и жизнестойкость. Мы выращиваем всеми любимые сорта и новинки мирового рынка. Предлагаем посадочный материал многолетних травянистых растений и декоративных кустарников из Голландии, Германии, Дании и Польши высокого качества, пригодный к выращиванию в наших климатических условиях. Широкий ассортимент растений порадует и любителей и профессионалов.
%p
  Если Вам необходима консультация или дополнительная информация, оставьте запрос в заказе или свяжитесь с нами по телефону 2-920-076 или 8950-767-56-82, или напишите на электронную почту land-edem@mail.ru
%br
= render '/products/list', { products: @products }
